/* Mobile Menu Toggle */
.mobile-toggle {
	display: inline-flex;
	width: 18px;
	height: 24px;
	align-items: center;
	transition: none;
	vertical-align: middle;
	position: relative;
	span {
		display: block;
		position: absolute;
		width: 16px;
		height: 2px;
		background: $black;
		content: " ";
		left: 0;
		&:nth-child(1) {
			top: 7px;
		}
		&:nth-child(2) {
			top: 12px;
		}
		&:nth-child(3) {
			top: 17px;
		}
	}
}
/* Mobile Menu */
#mobile-menu {
	position: fixed;
	top: 0;
	height: 100%;
	z-index: 99;
	padding: 0;
	width: 280px;
	background: #fff;
	overflow: hidden;
	left:0;
	@include translate3d(-280px, 0, 0);

	.touch & {
		overflow-x: hidden !important;
		overflow-y: scroll !important;
		-ms-overflow-style: -ms-autohiding-scrollbar !important;
		-webkit-overflow-scrolling: touch !important;
	}
	@include transition(all .35s $transition);

	@include min-break($break-small) {
		width: 380px;
		left: 0;
		@include translate3d(-380px, 0, 0);
	}
	.open-menu &{
		visibility: visible;
		@include translate3d(0, 0, 0);
	}
	.admin-bar & {
		padding-top: 46px;

		@media screen and (min-width: 783px){
		  padding-top: 32px;
		}
	}
	.social-links {
		padding: 20px 15px 15px;
		text-align: center;
		@include min-break($break-small) {
			padding: 30px 15px 25px;
		}
		a {
			color: $color1;
			margin: 0 7px;
		}

	}
	.columns {
		border-bottom: 1px solid #f0f0f0;

		& + .columns {
			border-left: 1px solid #f0f0f0;
		}
	}
	.select-wrapper {
		margin: 0;
		border: 0;
		width: 100%;
		select {
			height: 42px;
			font-size: 10px;
			padding: 9px 34px 9px 17px;
		}
		&:after {
			top: 15px;
		}
	}
	.subheader-menu {
		padding: 0 15px;
		text-align: center;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 10px;
		ul {
			margin: 0 0 10px;
			padding: 0;

			li {
				margin: 0;
				display: inline-block;
				padding: 0 7px;
			}
		}
	}
	.menu-footer {
		text-align: center;
		padding: 0 15px;
		font-size: 11px;
		line-height: 16px;
		color: $color1;
		p {
			font-size: inherit;
			&:last-child {
				margin: 0;
			}
		}
	}
}

/* Mobile Menu */
.mobile-menu {
	list-style: none;
	margin: 0;
	width: 100%;
	clear: left;
	background: #fff;
	@include backface-visibility(hidden);
	li {
		margin: 0;
		span {
			display: block;
			position: absolute;
			width: 49px;
			height: 49px;
			padding: 17px;
			top: 0;
			right: 0;
			@extend .transition;

			.fa {
				vertical-align: middle;
				width: 16px;
				height: 16px;
				line-height: 16px;
				text-align: center;
				font-size: 10px;
				background: #e6e6e6;
				font-weight: 400;
				color: #fff;
			}

			&:hover {

				.fa {
					background: $color1;
				}

			}
			.rtl & {
				right: auto;
				left: 0;
			}
		}
		a {
			display: block;
			line-height: 13px;
			font-size: 13px;
			font-weight: bold;
			color: $color1;
			position: relative;
			text-transform: uppercase;
			padding: 19px 17px 16px;
			border-bottom: 1px solid #f0f0f0;
			@extend .transition;
			&.active {
				background: #f8f8f8;

				span {
					.fa {
						background: $color1;
					}

					.fa-plus:before {
						content: "\f068";
					}
				}
			}
		}
	}

	.sub-menu {
		display: none;
		list-style: none;
		margin: 0;
		padding: 0 0 0 30px;
		border-bottom: 1px solid #f0f0f0;
		.sub-menu {
			padding: 0 0 0 20px;
		}
		li {
			a {
				text-transform: none;
				padding-left: 0;

				&.active {
					background: #fff;
				}
			}
			&:last-child {
				a {
					border: 0;
				}
			}
		}
	}
}